<!-- This page makes the site index.html file, though the made page just redirects to the welcome/index.html page.-->
<!-- The redirect path works when deployed on github, but not to preview in RStudio. You will see "Not found: ./website/welcome/" -->
<!-- To preview with RStudio, in the Viewer window, click the button "Show in new window" and change the address from "http://127.0.0.1:4321/website/welcome/" to "http://127.0.0.1:4321/welcome/" -->



<!DOCTYPE html>
<html lang="en" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="refresh" content="0; url=/website/welcome/"/>

</style>
  </head>
  <body>
  </body>
</html>
